.results {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 10px;

    .cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 1fr;
        grid-column-gap: 30px;
        grid-row-gap: 30px;

        @media only screen and (max-device-width: 480px) {
            /* in mobile css commands */
            grid-template-columns: repeat(1, 1fr);
        }
    }
}
